<h1>Éditer rappel</h1>

<div class="segment">

  <%= render "form", reminder: @reminder %>

  <br>

  <div>
    <%= link_to "Voir ce rappel", @reminder %> |
    <%= link_to "Retour aux rappels", reminders_path %>
  </div>
</div>