@import "bootstrap";

form {
    max-width: 400px;
}

.field_with_errors {
    input, textarea, select {
        border-color: red;
        background: #fff2f2;
    }
}

.error_msg {
    font-size: small;
    color: red;
}

.home-search {
    margin: 0 auto;
    margin-top: 9em;
    text-align: center;
}