<h1>Editing star product</h1>

<%= render "form", star_product: @star_product %>

<br>

<div>
  <%= link_to "Show this star product", @star_product %> |
  <%= link_to "Back to star products", star_products_path %>
</div>
