<div class="col">
    <div class="card cardfish">
        <%= link_to cardfish do %>
            <%= image_tag cardfish.image, class: "card-img-top" %>
            <div class="card-body">
                <p class="card-text"><%= cardfish.name.capitalize %></p>
            </div>
        <% end %>
    </div>
</div>