<h1>Fishothèque</h1>

<div class="segment">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @cardfishes.each do |cardfish| %>
            <%= render cardfish %>
        <% end %>
        <div class="apple_pagination">
            <%= will_paginate @cardfishes %>
        </div>
    </div>
</div>